/**
	960px Mini-Grid 
	
	Helper for creating a semantic grid system.
	Columns can be nested as many times as needed, so long as 
	the alpha and omega class are given to the left and right 
	most column / or top and bottom row of any given area.
	
	The heaven and hell classes are for padding adjustments on 
	the grid, usefull for nesting structures.
**/


/**
	Main page wrapping method, fluid elements will stretch 
	the width of the page, nesting a fixed element inside of that 
	will create a centered 960px grid wrapper
**/
.fluid { 
	width: auto; 
}
.fixed {
	width: 960px;
	margin: 0 auto;
	height: 100%;
	clear: both;
	overflow: hidden;
}

/**
	Row Structure
	10px Margins
**/
.row.sixteenth		{ height: 40px;  }
.row.twelfth		{ height: 60px;  }
.row.eighth		{ height: 100px; }
.row.sixth		{ height: 140px; }
.row.threesixteenths	{ height: 160px; }
.row.fourth 		{ height: 220px; }
.row.fivesixteenths	{ height: 280px; }
.row.third 		{ height: 300px; }
.row.threeeighths	{ height: 340px; }
.row.fivetwelfths	{ height: 380px; }
.row.sevensixteenths	{ height: 400px; }
.row.half 		{ height: 460px; }
.row.ninesixteenths	{ height: 520px; }
.row.seventwelfths	{ height: 540px; }
.row.fiveeighths	{ height: 580px; }
.row.twothirds 		{ height: 620px; }
.row.elevensixteenths	{ height: 640px; }
.row.threefourths 	{ height: 700px; }
.row.thirteensixteenths { height: 760px; }
.row.fivesixths		{ height: 780px; }
.row.seveneighths 	{ height: 820px; }
.row.eleventwelfths 	{ height: 860px; }
.row.fifteensixteenths 	{ height: 880px; }
.row.full		{ height: 940px; }

/**
	Column Structure
	10px Margins
**/
.sixteenth		{ width: 40px; 	}
.twelfth		{ width: 60px;  }
.eighth			{ width: 100px;	}
.sixth			{ width: 140px; }
.threesixteenths	{ width: 160px; }
.fourth 		{ width: 220px; }
.fivesixteenths		{ width: 280px; }
.third 			{ width: 300px; }
.threeeighths		{ width: 340px; }
.fivetwelfths		{ width: 380px; }
.sevensixteenths	{ width: 400px; }
.half 			{ width: 460px; }
.ninesixteenths		{ width: 520px; }
.seventwelfths		{ width: 540px; }
.fiveeighths		{ width: 580px; }
.twothirds 		{ width: 620px; }
.elevensixteenths	{ width: 640px; }
.threefourths 		{ width: 700px; }
.thirteensixteenths 	{ width: 760px; }
.fivesixths		{ width: 780px; }
.seveneighths 		{ width: 820px; }
.eleventwelfths 	{ width: 860px; }
.fifteensixteenths 	{ width: 880px; }
.full 			{ width: 940px; }

/**
	Core grid rules
**/
.row, .column {
	display: block;
	position: relative;
	padding: 0;
	float: left;
}
.row {
	margin: 10px 0;
}
div.row {
	width: auto; 
}
.column {
	height: auto;
	margin: 10px;
}
/**
	Nesting adjustments
**/
.column .row { 
	width: 100%; 
}
.column .column { 
	height: auto; 
}
.row .column { 
	height: 100%; 
}
.alpha { 
	clear: left; 
}
.omega { 
	clear: right; 
}
.column .alpha { 
	margin-left: 0; 
}
.column .omega { 
	margin-right: 0; 
}
body .heaven { 
	margin-top: 0; 
}
body .hell { 
	margin-bottom: 0; 
}
body .earth { 
	margin-bottom: 0; margin-top: 0; 
}
.column .earth 	{ 
	margin: 0; 
}
.border { 
	border: 1px solid; 
}
.column.border { 
	margin: 9px; 
}